

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <title></title>
    </head>

    <body>
        <h1>Walls file upload</h1>
        
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'UploadWalls' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            
            <input type="file" name="filefield" multiple="multiple">
            
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
</html>