{% extends "base.html" %}

{% block title %}About us{% endblock %}

{% block content %}

<div>
    <h1>About Tellasecret</h1>

    <p>Tellasecret is a fun idea, created as a weekend project</p>
    <p>To send message to friends. If you like it please do share it with your friends.</p>
    <p>
        You can receive secret message from your friends, family member, 
        co-workers or anyone in the world. 
        And you can also send message to your friends
    </p>
    <p>
        This project is build in a day, I try by best to make the website looks good,
        will update and improve the website with your support.
    </p>
    <p>This project is not backed by a company, only supported by a single person.</p>
    <p>Spread love, joy, positivity</p>

    <blockquote>
        <q>The most important thing is to try and inspire people so that 
        they can be great in whatever they want to do.</q> - Kobe Bryant
    </blockquote>
</div>

{% endblock content %}
