{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="main">
    <h2>Tellasecret secret message app <script>document.write(new Date().getFullYear());</script></h2>
    <p>
        Send the secret link to your friends and get personal feedback, the message send in this is always 
        anonymous, you can create your own link by entering your name and it will generate a new link for you.
    </p>
    <p>
        You can use Tellasecret to collect feedback from clients or customers to know about the business or 
        service you are providing, simple share the link with your customers to collect the feedback.
    </p>
    <p>
        Highly encourage you to share your feedback or suggestions.
    </p>
    <p>Tellasecret is a fun website to share feedback.</p>
    <p>Please reach out to us using this email id <h2>contacttella@gmail.com</h2></p>
    <p></p>
</div>


{% endblock content %}
