
<div>
    <div class="faq-block">
        <h1>Frequently Asked Question</h1>
        <h2>Read the Tellasecret FAQ</h2>
        <p>
            You may have a some 
            <strong>questions</strong> about <a href="/">Tellasecret</a> app, please refer the below
        </p>
        <div class="panel-group" id="accordion">
            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse0"><i class="fas fa-angle-double-down"></i> How to share link</a>
                    </h4>
                </div>
                <div id="collapse0" class="collapse show"  data-parent="#accordion">
                    <div class="body">Enter your name in the text box after that you will get a link, 
                        you can share it with anyone. Just copy and past it.
                    </div>
                </div>
            </div>
        
            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse1"><i class="fas fa-angle-double-down"></i> Why anonymous message</a>
                    </h4>
                </div>
                <div id="collapse1" class="collapse"  data-parent="#accordion">
                    <div class="body">You can have fun and get some honest and funny message from friends</div>
                </div>
            </div>

            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse2"><i class="fas fa-angle-double-down"></i> Safe for usage</a>
                    </h4>
                </div>
                <div id="collapse2" class="collapse" data-parent="#accordion">
                    <div class="panel-body">
                        Yes, Tellasecret is safe to you, we work constanly to improve the platform for you. 
                        Your safety is highly important, if you feel uncomfortable, please deactivate the account.
                        our app is safe to use, you dont have to worry about it. 
                        Incase if you need anything please feel free contact us.</div>
                </div>
            </div>

            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse3"><i class="fas fa-angle-double-down"></i> Can I get feedback from my clients</a>
                    </h4>
                </div>
                <div id="collapse3" class="collapse" data-parent="#accordion">
                    <div class="body">Yes please do, you can use this to collect feedback about the service or product you are providing.</div>
                </div>
            </div>

            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse4"><i class="fas fa-angle-double-down"></i> Can reciver able to see my name?</a>
                    </h4>
                </div>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                    <div class="body">The link owner can't see who send the message, the person who send is always stay anonymous.</div>
                </div>
            </div>

            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse6"><i class="fas fa-angle-double-down"></i> How to send message?</a>
                    </h4>
                </div>
                <div id="collapse6" class="collapse" data-parent="#accordion">
                    <div class="body">
                        Get the link from your friends then open it in a browser, it will ask you to enter the message 
                        after entering the message click send message button, after that it will ask you with a popup 
                        box want to send message again or create your own secret message link.
                    </div>
                </div>
            </div>

            <div>
                <div class="heading">
                    <h4 class="title">
                        <a data-toggle="collapse" href="#collapse7"><i class="fas fa-angle-double-down"></i> Some anonymous message?</a>
                    </h4>
                </div>
                <div id="collapse7" class="collapse" data-parent="#accordion">
                    <div class="body">
                        If you get some unwanted message, don't take it personly. You can't see the person who send the message 
                        and we are not storing the data for that. You know this platorm provide anonymous message service. please
                        dont take anytinh personly, this is just a fun app.
                    </div>
                </div>
            </div>

        </div>
      </div>
</div>
<style>
    .faq-block{
        color: #677294;
    }
    .faq-block .title{
        color: #677294;
        font-size: 17px;
    }
    .faq-block .title a{
        color: #677294;
    }
</style>