{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

.block{
  text-align: center;
  height: 90%;
}
.block h3{
  font-size: 40px;
  color: #54536c;
}
.missing_head{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 15vh !important;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
.image_500{
  width: 450px;
  height: 450px;
}
.back_button{
  color:#E7924E;
  font-family: 'PT Sans';
  font-weight:bold;
  font-size:19px;

}
.content{
  font-family: 'PT Sans';
  font-size:20px;
  color: #54536c;
}
a{
  color:inherit;
  text-decoration: none;
}
@media screen and (max-height:800px){
  .image_500{
    width: 400px;
    height: 400px;
  }
  .block h3{
    margin:10px 0;
  }
}
</style>

<div class="main">
  <div class="block">
    <h3 class="missing_head">Oops!</h3>
    <img src="{% static 'image/break_red.svg' %}" alt="500" class="image_500">
    <p class="content">Oh no! Page not found.</p>
    <p class="back_button"> <a href="/"> Back to Tellasecret </a> 
      <span>&#8623;</span>
    </p>
  </div>
</div>


{% endblock content %}
