<footer id="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="title">Support</p>
                <ul class="link-list">
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 maker">
                <p class="titleSecret">
                    <!-- TellaSecret -->
                    <span class="t1" style="color: #12c2e9;">Tell</span><span class="t2" style="color: #c471ed;">a</span><span class="t3" style="color: #f64f59;">Secret</span>
                </p>
                <p class="text1">Get the anonymous<br><span>message</span></p>
                <p class="text2">Love to see what people say</p>
            </div>
            <div class="col-sm-12 col-md-12 footer-end">
                <h1>Secret Message, <span>Done Right!</span></h1>
                <div id="copy">Copyright &copy; 
                    <script>document.write(new Date().getFullYear());</script> 
                    <!-- Tellasecret.  -->
                    <a href="{{ CURRENT_SITE_URL }}">
                        <span class="t1" style="color: #12c2e9;">Tell</span><span class="t2" style="color: #c471ed;">a</span><span class="t3" style="color: #f64f59;">Secret</span>.
                    </a>
                    All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    #footer-box {
        background-color: #212121;
        min-height: 400px;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    .container{
        padding-top: 10vh;
    }
    footer .title{
        font-size: 18px;
        font-weight: bold;
        font-family: Poppins,'Source Sans Pro', sans-serif;
        color: #FFFFFF;
    }
    footer .titleSecret{
        font-size: 24px;
        font-weight: bold;
        font-family: Poppins,'Source Sans Pro', sans-serif;
        color: #FFFFFF;
    }
    footer .link-list{
        list-style: none;
        text-align: left;
        padding-left: 0px;
    }
    footer .link-list li{
        color: white;
        padding: 6px 0px;
    }
    footer .link-list li a{
        color: white;
        font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
        text-decoration: none;
        outline: none;
    }
    footer .maker .text1{
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: Poppins,'Source Sans Pro', sans-serif;
    }
    footer .maker .text1 span{
        /* color: #F1821E; */
        color: #ffe200;
    }
    footer .maker .text2{
        color: white;
        font-size: 12px;
        font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    }
    footer .footer-end{
        text-align: center;
        padding-top: 38px;
    }
    footer .footer-end h1{
        color: white;
        font-size: 40px;
        font-weight: bold;
        font-family: Poppins,'Source Sans Pro', sans-serif;
    }
    footer .footer-end h1 span{
        /* color: #F1821E; */
        color: #ffe200;
    }
    footer .footer-end #copy{
        color: white;
        letter-spacing: 0.13px;
        font-size: 16px;
    }
</style>