<nav class="navbar navbar-expand-lg navbar-light nv">
    <a class="navbar-brand brand" href="{{ CURRENT_SITE_URL }}">
      <span class="t1">Tell</span><span class="t2">a</span><span class="t3">Secret</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link at" href="{{ CURRENT_SITE_URL }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link at" href="/about">About Us</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link at" href="/contact">Contact Us</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link at" href="/terms">Terms</a>
        </li>
      </ul>
    </div>
</nav>

<style>
    .nv{
        /* background-color: white !important; */
        /* box-shadow: 0px -2px 5px grey; */
    }
    .brand{
        font-size: 24px;
        font-weight: bold;
        font-family: Poppins,'Source Sans Pro', sans-serif;
        color: #FFFFFF;
    }
    .at{
        font-weight: 300;
        color: #333 !important;
    }
    @media (max-width: 990px){
        .nv{
            text-align: center;
        }
    }
</style>