{% extends "base.html" %}

{% block content %}

<div>

    <div class="link-box">
        <p class="title">Your Secret Link</p>
        <p class="text"><span><b>{{ name }}</b></span>, share this link with your friends and get excited</p>
        <p class="userlink">{{ COPY_LINK }}</p>
        <p class="copylink">Copy Link</p>
        <p class="whatsapp">
            <a href="whatsapp://send?text=TellaSecret - Receive or send secret message to your friends and also get feedback from clients. Me and my friends use it, this is helpful for us. Please share your thoughts {{ COPY_LINK }}"> 
                <i class="fab fa-whatsapp"></i> Share to WhatsApp
            </a>
        </p>
        <p class="facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ COPY_LINK }}" target="_blank" rel="noopener">
                <i class="fab fa-facebook"></i> Share to Facebook
            </a>
        </p>
    </div>

    
    <div class="message-card">
        <p class="title">Message Inbox</p>
        <!-- <p style="text-align: center;">Your message will be show here</p> -->
        {% for msg in messages %}
            <div id="{{ msg.1 }}-msg">
                <p></p>
                <p class="message-text">{{ msg.0 }}</p>
                <p class="message-create">
                    <!-- message date -->
                    <span id="{{ msg.1 }}">
                        <script>
                            var date = new Date({{ msg.1 }} * 1000);
                            document.getElementById('{{ msg.1 }}').innerHTML = date.toDateString();
                        </script>
                    </span>
                    <span class="delete-icon" onclick="deleteMsg({{ msg.1 }})"> <i class="fas fa-trash"></i> Delete</span>
                </p>
            </div>
        {% endfor %}
    </div>
</div>

{% include "meta/faq_block.html" %}

{% include "notification.html" %}

<style>
    /* button start */
    .link-box{
        background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
        border-radius: 10px;
        padding: 3vh;
        margin-bottom: 5vh;
    }
    .link-box .title{
        color: white;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
    }
    .link-box .text{
        text-align: center;
        font-size: 17px;
    }
    .userlink{
        background-color: #fff;
        border-radius: 5px;
        padding: 1vh;
        text-align: center;
        box-shadow: 0px 2px 5px 0px #868686a6;
    }
    .copylink{
        box-shadow: 4px 4px 0 rgba(0,0,0,.18);
        margin: 0 0 30px;
        border: none;
        background: #ed232a;
        color: #fff;
        text-align: center;
        padding: 10px 40px;
        cursor: pointer;
        white-space: nowrap;
        min-width: 200px;
        text-transform: uppercase;
        font-weight: 900;
    }
    .whatsapp{
        box-shadow: 4px 4px 0 rgba(0,0,0,.18);
        margin: 0 0 30px;
        border: none;
        background: #075e54;
        color: #fff;
        text-align: center;
        padding: 10px 40px;
        cursor: pointer;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 900;
        width: 100%;
    }
    .whatsapp a{
        color: #fff;
    }
    .whatsapp a:hover{
        color: #fff;
    }
    .facebook{
        box-shadow: 4px 4px 0 rgba(0,0,0,.18);
        margin: 0 0 30px;
        border: none;
        background: #4267B2;
        color: #fff;
        text-align: center;
        padding: 10px 40px;
        cursor: pointer;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 900;
        width: 100%;
    }
    .facebook a{
        color: #fff;
    }
    .facebook a:hover{
        color: #fff;
    }
    .copylink, .whatsapp, .facebook{
        margin-bottom: 2vh;
    }
    /* button ends */

    .message-card{
        background-color: #edf6fd;
        border-radius: 30px;
        padding: 5vh;

        position: relative;
    }
    .message-card .title{
        font-size: 25px;
        font-weight: 900;
        text-align: center;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #ff5050;
        border-radius: 10px 10px 0px 0px;
        color: white;
    }
    .message-text{
        background-image: linear-gradient(to right, #6e92fd,#40d4e6);
        min-height: 50px;
        border-radius: 20px 20px 0px 20px;
        padding: 2vh;
        margin-bottom: 0;

        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }
    .message-create{
        padding-left: 2vh;
        color: #c1c1c1;
        margin-top: 2px;
    }
    .delete-icon{
        color: red;
        font-size: 17px;
        background-color: #e5e8f3;
        padding: 1px 10px;
        border-radius: 16px;
        box-shadow: 2px 2px slategrey;
        cursor: pointer;
    }
</style>
<script>
function deleteMsg(id){
    $("#" + id+ "-msg").remove();
}

var u = getCookie('user');
var siteurl = "{{ CURRENT_SITE_URL }}"
var csrftoken = getCookie('csrftoken');

function deleteMsg(id){
    grecaptcha.ready(function() {
        grecaptcha.execute('{{RECAPTCHA_SITE_KEY}}', {action: "submit"}).then(function(token) {
            $.ajax({
                type: "POST",
                url:  siteurl + "api/delete/message/",
                // crossDomain: true,
                headers: {'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
                xsrfHeaderName: "X-CSRFToken",
                data: {
                    userid : u,
                    time : id,
                    token : token,
                },
                // withCredentials: true,
                success: function(response){
                    $("#" + id+ "-msg").remove();
                    // toast message
                    // console.log("#" + id+ "-msg" + " deleted");
                    document.getElementById("notification_msg").innerHTML = "Message deleted.";
                    $('.notification').fadeIn();
                    notificationFade();
                },
                error: function (textStatus, errorThrown){
                    // toast message
                    console.log("error")
                }
            });
        });
    });
}

$(".copylink").on('click', function(event){
    const tx = document.createElement('textarea');
    tx.value = $('.userlink').text()
    document.body.appendChild(tx);
    tx.select();
    document.execCommand('copy');
    document.body.removeChild(tx);

    document.getElementById("notification_msg").innerHTML = "Link copied.";
    $('.notification').fadeIn();
    notificationFade();
});

</script>

<!-- <script>
    var date = new Date( msg.1 * 1000);
    document.getElementById('{{ msg.1 }}').innerHTML = date.toDateString() + " " +date.toLocaleTimeString();
</script> -->

{% endblock content %}
