{% extends "base.html" %}

{% block content %}


<div>
    <div class="name-bx">
        <p class="title">Name Box</p>
        <ul class="user-list">
            <li>Get anonymous feedback from your friends, coworkers and Fans</span></li>
            <li>You will not know who send it</span></li>
            <li>Have fun and make your own link</span></li>
        </ul>
        <input type="text" class="name_box" placeholder="Enter your name" required ></input>
        <input type="checkbox" id="agreecheck" name="agree" value="agree" checked>
        <p class="policy">You agree to Privacy Policy and Terms and condition of our website.</p>
        <p class="grec">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </p>

        <button class="namesubmit">Create Link</button>
    </div>
</div>

{% include "meta/faq_block.html" %}


{% include "notification.html" %}


<style>
    .name-bx{
        background-image: linear-gradient(to right, #6e92fd,#40d4e6);
        border-radius: 10px;
        padding: 3vh;
        margin-bottom: 5vh;
    }
    .name-bx .title{
        color: white;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }
    .name-bx .name_box{
        width: 100%;
        border: 1px solid #dbfff6;
        border-radius: 4px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .namesubmit{
        /* width: 100%;
        border: none;
        border-radius: 5px;
        padding: 1vh;
        text-align: center;
        box-shadow: 0px 2px 5px 0px #868686a6;
        background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bolder; */

        box-shadow: 4px 4px 0 rgba(0,0,0,.18);
        margin: 0 0 30px;
        display: inline-block;
        border: none;
        background: #ed232a;
        color: #fff;
        text-align: center;
        padding: 10px 40px;
        cursor: pointer;
        white-space: nowrap;
        min-width: 200px;
        text-transform: uppercase;
        font-weight: 900;
        width: 100%;
    }
    .user-list{
        font-size: 13px;
        margin-bottom: 0;
        padding-left: 10px;
    }
</style>

<script>
var siteurl = "{{ CURRENT_SITE_URL }}"
var csrftoken = getCookie('csrftoken');

    $(document).on('click','.namesubmit',function(){
        var name  = $(".name_box").val();
        if (!$("#agreecheck").is(':checked')){
            // not checked
            document.getElementById("notification_msg").innerHTML = "Enable Privacy Policy";
            $('.notification').fadeIn();
            notificationFade();
        }
        else {
            // console.log("name:",name)
            // create link alert
            $(".namesubmit").html("<i class='fas fa-cog fa-spin'></i>&nbsp;CREATING LINK")
            grecaptcha.ready(function() {
                grecaptcha.execute('{{RECAPTCHA_SITE_KEY}}', {action: "submit"}).then(function(token) {
                    $.ajax({
                        type: "POST",
                        url:  siteurl + "api/create/user/",
                        // crossDomain: true,
                        headers: {'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
                        xsrfHeaderName: "X-CSRFToken",
                        data: {
                            name : name,
                            token : token,
                        },
                        // withCredentials: true,
                        success: function(response){
                            // console.log("response:",response)
                            location.reload();
                        },
                        error: function (textStatus, errorThrown){
                            console.log("error")
                            $(".namesubmit").html("CREAT LINK")
                        }
                    });
                });
            });
        }
    });

// // enter event
// var input = document.getElementsByClassName("name_box")[0];
// input.addEventListener("keyup", function(event) {
//     // triger button event
//     document.getElementsByClassName("namesubmit")[0].click();
// });

</script>

{% endblock content %}
