{% extends "base.html" %}

{% block content %}


<div>

    <div class="message-box">
        <p class="title">Message Box</p>
        <ul class="note-list">
            <li>Send message to friend <span><b>{{ name }}</b></span></li>
            <li>Person will not know who message this</span></li>
            <li>Have fun and <b>make your own</b> link</span></li>
        </ul>
        <textarea class="message_boxarea" placeholder="Enter your message"></textarea>
        <input type="checkbox" id="agreecheck" name="agree" value="agree" checked>
        <p class="policy">You agree to Privacy Policy and Terms and condition of our website.</p>
        <p class="grec">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </p>
        <button class="messagesubmit">Send Message</button>
    </div>
</div>

<!-- popup box start -->
<div class="message-model" id="messageModel">
    <div class="message-model-content">
        <p style="text-align: center;"><i class="fas fa-info-circle"></i><span> Message send to your friend</span></p>
        
        <p class="createurs">Create Yours</p>

        <p class="sendagain">Send Again</p>
    </div>
</div>
<!-- popup box end -->

{% include "notification.html" %}

<style>
.message-box{
    background-image: linear-gradient(to right, #6e92fd,#40d4e6);
    border-radius: 10px;
    padding: 3vh;
    margin-bottom: 5vh;
}
.message-box .title{
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.message-box .message_boxarea{
    width: 100%;
    height: 140px;
    border: 1px solid #dbfff6;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.messagesubmit{
    /* width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1vh;
    text-align: center;
    box-shadow: 0px 2px 5px 0px #868686a6;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bolder; */

    box-shadow: 4px 4px 0 rgba(0,0,0,.18);
    margin: 0 0 30px;
    display: inline-block;
    border: none;
    background: #ed232a;
    color: #fff;
    text-align: center;
    padding: 10px 40px;
    cursor: pointer;
    white-space: nowrap;
    min-width: 200px;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
}
/* alert start */
.message-model{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.message-model .message-model-content{
    width: 50vh;
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 40px 40px 40px;
}
.message-model .message-model-content .sendagain{
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.message-model .message-model-content .createurs{
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
}
/* alert ends */
.note-list{
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 10px;
}
</style>


<script>
var u = "{{ userid }}"
var siteurl = "{{ CURRENT_SITE_URL }}"
var csrftoken = getCookie('csrftoken');

    $(document).on('click','.messagesubmit',function(){
        // sending alert
        $(".messagesubmit").html("<i class='fas fa-cog fa-spin'></i>&nbsp;SENDING MESSAGE")

        var message  = $(".message_boxarea").val();
        if (!$("#agreecheck").is(':checked')){
            // not checked
            document.getElementById("notification_msg").innerHTML = "Enable Privacy Policy";
            $('.notification').fadeIn();
            notificationFade();
        }
        else {
            console.log("message:",message)
            grecaptcha.ready(function() {
                grecaptcha.execute('{{RECAPTCHA_SITE_KEY}}', {action: "submit"}).then(function(token) {
                    $.ajax({
                        type: "POST",
                        url:  siteurl + "api/create/message/",
                        // crossDomain: true,
                        headers: {'Access-Control-Allow-Origin': '*', "X-CSRFToken": csrftoken },
                        xsrfHeaderName: "X-CSRFToken",
                        data: {
                            userid : u,
                            message : message,
                            token : token,
                        },
                        // withCredentials: true,
                        success: function(response){
                            // success
                            $(".messagesubmit").html("SEND MESSAGE");
                            $("#messageModel").css("display","block");
                        },
                        error: function (textStatus, errorThrown){
                            console.log("error")
                        }
                    });
                });
            });
        }
    });

    
    $(document).on('click','.createurs',function(){
        window.location.href = siteurl;
    });
    $(document).on('click','.sendagain',function(){
        $(".message_boxarea").val("");
        $("#messageModel").css("display","none");
    });

    // close popup when user click anywhere on window
    // listen for window click event
    $(window).click(function() {
        var downloadModal = document.getElementById("messageModel");
        
        if(event.target == downloadModal){
          $("#messageModel").css("display","none");
        }
    });
</script>
{% endblock content %}
