

<div class="notification">
    <p id="notification_msg">
        
    </p>
</div>


<style>
    .notification{
        min-width: 250px;
        position: fixed;
        right: 10px;
        top: 30px;
        background-color: white;
        box-shadow: 2px 2px 8px grey;
        z-index: 9999;
        border-radius: 5px;
        display: none;
        border-left: 7px solid orange;
    }
    #notification_msg{
        color: #C5C5C5;
        font-size: 20px;
        margin-top: 13px;
        text-align: center;
    }
</style>

<script>
    function notificationFade(){
    setTimeout(function() {
        $(".notification").fadeOut(1500);
    },2000);
}
</script>