body{
    
}
.main{
    margin: 0 auto;
    width: 95%;
    margin-top: 3vh;
    min-height: 30vh;
}
@media (min-width:750px) {
    .main{
        margin: 0 auto;
        width: 500px;
        margin-top: 3vh;
    }
    .main{
        min-height: 50vh;
    }
}

@media (min-width:500px) {
    .main{
        min-height: 50vh;
    }
}

.grecaptcha-badge { 
    visibility: hidden;
}
.grec{
    font-size: 10px;
}
.policy{
    font-size: 10px;
    display: contents;
}

/* logo color start*/
.t1{
    color: #12c2e9;
}
.t2{
    color: #c471ed;
}
.t3{
    color: #f64f59;
}
/* logo color end*/
